body{
font-family: Arial;
background:#EAF2FF;
margin:0;
}

header{
background:#2C3E50;
color:white;
padding:30px;
text-align:center;
}

nav{
background:#4A6FA5;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
max-width:800px;
margin:auto;
background:white;
margin-top:20px;
border-radius:5px;
}

header h1{
color:white;
}

h1,h2{
color:#333;
}

ul{
line-height:2;
}


section a {
  color: #0066CC;        /* visible blue */
  font-weight: bold;      /* makes it stand out */
  text-decoration: underline;  /* underline link */
}

section a:hover {
  color: #004C99;        /* darker blue on hover */
}

section p a {
  display: inline-block;
  margin-top: 10px;      /* spacing above the link */
}




